# Base de datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_NAME=movies_db
DB_PORT=3306

# JWT
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRE=24h

# Servidor
PORT=3000
NODE_ENV=development
